<?xml version="1.0"?>
<launch>
  
  <env name="GAZEBO_MODEL_PATH" value="$(find slope_world)/gazebo_models" />
  
  <!-- parameters when using models in official package -->
  <arg name="robot_model"       default="typef"/>
  <!-- <arg name="WORLD_FILE"        default="$(find seed_r7_gazebo)/worlds/example.world"/> -->
  <!-- <arg name="WORLD_FILE"        default="$(find slope_world)/world/slope_world.world"/> -->
  <arg name="WORLD_FILE"        default="$(find slope_world)/world/slope_environment_seed_r7.world"/>
  <arg name="GUI"               default="true"/>
	 
  <arg name="x_pos" default="-6.5"/>
  <arg name="y_pos" default="0.35"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="r_ori" default="0.0"/>
  <arg name="p_ori" default="0.0"/>
  <arg name="y_ori" default="0.0"/>

  <include file="$(find seed_r7_gazebo)/launch/seed_r7_empty_world.launch">
    <arg name="robot_model"     value="$(arg robot_model)"/>
    <arg name="WORLD_FILE"      value="$(arg WORLD_FILE)"/>
    <arg name="GUI"             value="$(arg GUI)"/>
    <arg name="x_pos" value="$(arg x_pos)"/>
    <arg name="y_pos" value="$(arg y_pos)"/>
    <arg name="z_pos" value="$(arg z_pos)"/>
    <arg name="r_ori" value="$(arg r_ori)"/>
    <arg name="p_ori" value="$(arg p_ori)"/>
    <arg name="y_ori" value="$(arg y_ori)"/>
    
  </include>

  <node pkg="rsdlab_fcsc_pkg" name="lifter" type="lifter.py" output="screen"/>

</launch>
