<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>	 
  <arg name="x_pos" default="4.73"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="r_ori" default="0.0"/>
  <arg name="p_ori" default="0.0"/>
  <arg name="y_ori" default="-3.14"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find slope_world)/gazebo_models" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">

   <arg name="world_name" value="$(find slope_world)/world/slope_environment.world"/>	
   <arg name="paused" value="false"/>
   <arg name="use_sim_time" value="true"/>
   <arg name="gui" value="true"/>
   <arg name="recording" value="false"/>
   <arg name="debug" value="false"/>

  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model $(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg r_ori) -P $(arg p_ori) -Y $(arg y_ori) -param robot_description" />

  <!-- robot_localization Odometry + IMU -->
  <!-- <include file="$(find robot_localization)/launch/robot_localization.launch"> -->
  <!-- </include> -->
  
</launch>
